.game h1{
    font-size: 2.5em;
}

.pontos span{
    font-weight: bold;
}

.dica span{
    color: #ecfa00;
}

.containerPalavra{
    display: flex;
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #ecfa00;
}

.letra, .quadradoBranco{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #FFF;
    color: #000;
}
.containerLetra{
    margin-bottom: 1.2em;
}

.containerLetra form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerLetra input{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}
